@font-face {
    font-family: 'MiFuenteLatoBlack';
    src: url('/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteLatoThin';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.login {
    display: block;
    margin: auto;
    padding: auto;
    height: 100%;
    position: relative;
    padding-bottom: 20rem;
    min-height: 100vh;
    
}
.h2form {
    font-family: 'MiFuenteLatoBlack';
}

.contenido {
    display: grid;
    gap: 3rem;
    margin-top: 2rem;
   
}
.h3 {
    font-family: 'MiFuenteLatoThin';
    color: black;
}
.formcontrol{
    padding: 5px;
    width: 80%;
    text-decoration: none;
}
.formcontrol::placeholder {
    color: #747272;
    font-style: bold;
    font-size: 15px;
    padding-left: 3px;
}

.logo {
    margin: 1rem auto;
    align-items: center;
    margin-left: 1rem;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}




.formulario {
    width: 100%;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
    align-items: center;
}

@media (min-width:768px) {
    .contenido {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        margin-left: 6rem;
        margin-right: 4rem;
    }
    .login {
        padding-bottom: 10rem;
    }
    .formulario {
        width: 25rem;
        padding: 1rem;
        align-items: center;
    }
}

.form {
    margin: 1rem;
}

.form div {
    margin-bottom: 1rem;
}

.form h3 {
    margin: 0 auto;
    font-size: 17px;
}

.form input {
    border: 1px solid rgb(77, 76, 76);
    height: 2rem;
    width: 96%;
    border-radius: 5px;
}

.buttonsig {
    border: none;
    background-color: rgb(38, 95, 219);
    height: 3rem;
    width: 100%;
    border-radius: 10px;
    color: white;

}

.buttonsig:hover {
    background-color: rgb(20, 68, 172);
}

.registrate {
    font-size: 13px;
    font-style: bold;
}

.question {
    font-size: 15px;
    font-style: bold;
}

.register {
    text-decoration: none;
}

.beforeafter {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
    align-items: center;
    text-align: center;
    gap: 10px;
    color: rgb(114, 112, 112);
}

.beforeafter::before,
.beforeafter::after {
    content: '';
    border-top: 1px double;
}

.svg {
    display: inline-block;
    margin-left: 1rem;
}

.footer {
    padding: 2rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.warning{
    color: red;
}

/* recuperado de ontraseña */
.recuperar {
    padding: 0 auto;
    float: right;
   
}
.linkrecuperar{
    color: rgb(35, 35, 122);
    text-decoration: none;
    font-size: 15px;
    font-style: none;
}