@font-face {
    font-family: 'MiFuenteLatoThin';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.h3hotel {
    font-family: 'MiFuenteLatoThin';
}
.divform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.divsone {
    width: 40%;   
}

.divstwo {
    width: 60%;   
}
.formulario{
    border-radius: 3px;
    border: 1px solid rgb(178, 182, 178);
    width: 60%;
    font-display: flex;
}

.formcontrol{
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.formcontrol::placeholder {
    olor: #747272;
    font-style: bold;
    font-size: 15px;
    padding-left: 3px;
}

.formcontrolnumber::placeholder {
    olor: #747272;
    font-style: bold;
    font-size: 15px;
    padding-left: 3px;
}


.formcontrolnumber{
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.d {
    display: flex;
}


.formcontrolnumber::-webkit-inner-spin-button,
.formcontrolnumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.formulario textarea{
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.divpropietario {
    padding-right: 3rem;
    padding-left: 3rem;
}
.divdetalles {
    padding-right: 3rem;
    padding-left: 3rem;
}

.divubicacion {
    padding-right: 3rem;
    padding-left: 3rem;
}
.formtextarea{
    text-decoration: none;
    font-size: 1.1rem;
    resize: none;

}

/* button add */
.divbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* parte de imagenes */
.inputimages{
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
}
.warning {
    color: red;
}

.buttonForm{
    border: none;
    font-size: 0.8rem;
    background-color: rgb(38, 95, 219);
    height: 3rem;
    width: 30%;
    border-radius: 10px;
    color: white;
}
.buttonForm:hover {
    background-color: rgb(103, 103, 240);
}

.images{
    height: 70%;
}
.image {
    padding: 0.5rem;
}
@media (max-width: 768px) {
    .formulario {
        width: 100%;
    }
    .buttonForm p{
        font-size: 11px;
    }
    
    .divstwo {
        padding: 3rem;
        width: 80%;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .divsone {
        width: 100%;
    }
    .d {
        display: block;
    }
  
}