.divform {
    margin-top: -5rem;
}
.divsone {
    width: 40%;   
}
.divstwo {
    width: 60%;   
}
.formulario{
    font-display: flex;
}

.formcontrol{
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.formcontrolnumber{
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.d {
    display: flex;
}


@media (max-width: 768px) {
    .d {
        display: block;
    }
    .buttonForm p {
        font-size: 15px;
    }
}

.formcontrolnumber::-webkit-inner-spin-button,
.formcontrolnumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.formulario textarea{
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.divpropietario {
    padding-right: 3rem;
    padding-left: 3rem;
}
.divdetalles {
    padding-right: 3rem;
    padding-left: 3rem;
}

.divubicacion {
    padding-right: 3rem;
    padding-left: 3rem;
}
.formtextarea{
    text-decoration: none;
    font-size: 1.1rem;
}

/* button add */
.divbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* parte de imagenes */
.inputimages{
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid rgb(161, 158, 158);
    padding: 0.4rem;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
}
.warning {
    color: red;
}

.buttonForm{
    border: none;
    font-size: 1.3rem;
    background-color: rgb(38, 95, 219);
    height: 4rem;
    width: 40%;
    border-radius: 10px;
    color: white;
}
.buttonForm:hover {
    background-color: rgb(103, 103, 240);
}

.images{
    height: 70%;
}
.image {
    padding: 0.5rem;
}