.main h2{
    margin-left: 2rem;
}

.h2center {
    align-items: center;
    justify-content: center;
    display: flex;
}
.plandivs {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

  .divtipoplan {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(179, 174, 174);
    background-color: rgb(252, 249, 249);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divplan {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.pe {
    font-size: 16px;
}
.prices {
    font-size: 2rem;
    color: blue;
}

.buttonSelect {
    border: none;
    font-size: 1.3rem;
    background-color: rgb(38, 95, 219);
    height: 3rem;
    width: 100%;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.buttonSelect:hover {
    padding: 6px 6px;
    background-color: rgb(25, 65, 151);
    cursor: pointer;
}
.spnamxn{
    font-size: 2rem;
    color: black;
}



@media (max-width: 768px) {
    .plandivs {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .divplan {
        display: flex;
       
        padding: 10px;
        font-size: 10px;
    }
    .divplan p {
        padding: 10px;
        font-size: 20px;
    }
    .divplan span {
        padding: 10px;
        font-size: 20px;
    }
    .divplan button {
        font-size: 10px;
        height: 3rem;
       
    }
}
