
.dashboard {
    display: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listBeneficios {
    width: 50%;
    display: block;
}
.card {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.5rem;
}

.beneficios {
    display: block;
    
}

.pbeneficios {
    margin-top: 40px;
}

@media (max-width: 768px) {
    .listBeneficios {
        width: 90%;
        display: block;
    }
    .button {
        border: none;
        border-radius: 3px;
        background-color: rgb(42, 42, 224);
        color: white;
        width: 30%;
        height: 50px;
    }
    
}

.button {
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 42, 224);
    color: white;
    width: 100%;
    height: 50px;
}

.button:hover {
    background-color: rgb(65, 65, 228);
    cursor: pointer;
}

.cb {
    padding: 0.5rem;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}