.card {
    width: 37rem;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 2rem;
}

.beneficios {
    display: flex;
    
}

@media (max-width: 768px) {
    .card{
      width: 15rem;

    }
    .divbeneficios {
       
        height: 30rem;
    }
    .cb{
        display: block;
        width: 50%;
    } 
    .beneficios {
        display: block;
        width: 100%;
    }
    .cb {
        margin-bottom: 1rem;
    }
}



.button {
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 42, 224);
    color: white;
    width: 30%;
    height: 50px;
}

.button:hover {
    background-color: rgb(26, 26, 192);
    cursor: pointer;
}

.cb {
   margin-right: 1rem;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 2rem;
}