/* is active? non active?*/
.nonActive {
    font-size: 13px;
    text-decoration: none;
    color: rgb(238, 237, 237);
}
.active {
    font-size: 13px;
    text-decoration: none;
    color: rgb(73, 132, 241);
}
.nonActive:hover {
    color: rgb(191, 191, 211);
}

/* */
.header {
    border-bottom: 1px solid rgb(207, 203, 203);
    background-size: cover;
    background-position: 50%;
    background-color: rgb(69, 82, 202);
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    justify-content: center;
    align-items: center;
}
.linkhome {
    margin-left: 20px;
}
.divizquierda {
    display: flex;
}
.headerclient{
    display: flex;
    align-items: center;
}
@media (max-width: 400px) {
   .iconuser {
    width: 2rem;
   }
   .divizquierda {
    margin-right: 3rem;
   }
}
@media (max-width: 500px) {
    .iconuser {
     width: 2rem;
    }
    .divizquierda {
     margin-right: 3rem;
    }
 }

 @media (max-width: 550px) {
    .iconuser {
     width: 2rem;
    }
    .divizquierda {
     margin-right: 3rem;
    }
 }

 @media (max-width: 600px) {
    .iconuser {
     width: 2rem;
    }
    .divizquierda {
     margin-right: 3rem;
    }
 }
@media (max-width: 768px) {
       .iconuser {
        width: 2rem;
       }
       .divizquierda {
        margin-right: 3rem;
       }
  }

  @media (max-width: 780px) {
       .iconuser {
        width: 2rem;
       }
       .divizquierda {
        margin-right: 3rem;
       }
  }

.navegacion a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 550;
    padding: .5rem;
    text-decoration: none;
    transition-property: backgroung-color;
    transition-duration: 0.3s;
}

.navegacion a:hover {
    color: rgb(73, 132, 241);
}

/* dropdownclient */


/* si existe imagen de usuario */
.iconuser {
    /* display: grid; */
    place-items: center;
    margin-left: auto;
    float: right;
    width: 3rem;
}
.dropBody {
    /* display: block; */
    height: auto;
    width: 15rem;
}
.imageuser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.imageuser:hover {
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1.1);
}
/* si no existe imagen de usuario */
.divinitialnameuser {
    border: none;
    float: right;
    display: grid;
    background-color: rgb(169, 173, 173);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.h3initialnameuser {
    margin: auto;
    font-size: 20px;
    color: white;
}

.spanemail span{
    color: blue;
    font-weight: bold;
}

