.div{
  display: flex;
    align-items: center;
    justify-content: center;
}
.divprincipal{
    width: 70%;
}
@media (max-width: 780px) {
    .divprincipal{
        width: 100%;
    }
}

.pfelicidades {
    font-size: 15px;
    font-style: bold;
}

.divprincipal p {
    text-align: justify;
   

}
.divprincipal span {
    color: blue;
}
.disculpas p{
    text-align: justify;
    font-size: 15px;
}
.disculpas {
    padding: 10px;
    border: 1px solid rgb(230, 67, 67);
    background-color: rgb(238, 176, 5, 0.3);
}