.block {
    display: block;
}

.contenedor {
    display: flex;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 5px;
    margin-bottom: 1rem;
    
}
.ab {
    display: flex;
    width: 50%;
    margin: 1rem;
}
.cd{
    width: 100%;
    margin-left: 10px;
}
@media (max-width: 768px) {
    .ab{
      max-width: 100%; 
      display: block;
    }
    .contenedor {
        display: block;
    }
    .imagesimages{
       display: flex;
    }
    .imagehotel {
        background-color: black;
        width: 370px;
        height: 320px;
        margin-left: 1rem;
    }
    
    .contenedorimages {
        overflow-y: auto;
    }
  }
.item {
    color: rgb(129, 125, 125);
}
.items {
    margin-bottom: 3rem;
}
.items input {
    font-size: 1rem;
}
.mihospedajes{
    margin-left: 3rem;
}
.imagesimages{
    height: 30rem; /* ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
}

/* button add */
.divbutton {
    display: flex;
    
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.buttonForm{
    border: none;
    font-size: 1.3rem;
    height: 4rem;
    width: 40%;
    border-radius: 10px;
    color: white;
    background-color: blue;
}
.buttonForm:hover {
    background-color: rgb(103, 103, 240);
}

.formcontrol{
    text-decoration: none;
    border: 1px solid rgb(161, 158, 158);
   padding-left: 3rem;
   
}

.formcontrolnumber{
    border: 1px solid rgb(161, 158, 158);
    padding-left: 3rem;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.formcontrolnumber::-webkit-inner-spin-button,
.formcontrolnumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formtextarea{
    padding-left: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
}
.buttonaddnewlodging {
    margin-top: 1rem;
    width: 30%;
    padding: 0.4rem;
    background-color: rgb(40, 121, 9);
    border: none;
    border-radius: 5px;
    color: white;
}
.buttonaddnewlodging:hover {
    background-color: rgb(51, 97, 32);
}

/* toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* lista imagenes */
  .listaimages {
    border: 1px solid green;
  }